<!DOCTYPE html>
<html>
<head>
  <title>AssignmentOneJzaikin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <table>
    <tr>
      <td><%= link_to "Cars", cars_path %></td>
      <td><%= link_to "makes", makes_path %></td>
      <td><%= link_to "parts", parts_path %></td>
    </tr>
  </table>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>
</body>
</html>
